<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact via le site web</h1>
    <p>
      Une demande de contact :
    </p>
    <p>
      <%= @contact.name %><br/>
      <%= @contact.email %><br/>
    </p>
    <p>
      Le visiteur a écrit:
    </p>
    <p>
      "<%= @contact.content %>"
    </p>
  </body>
</html>
