<h1>Bienvenue!</h1>
<ul class="mh-menu">
  <li>
      <%= link_to  cv_path do %>
        <span>Mon CV</span>
        <span>Accedez à mon CV </span>
      <% end %>
    <img src="images/1.jpg" alt="photo de didier" />
  </li>
  <li>
    <%= link_to projects_path do %>
      <span>Réalisations</span>
      <span>Découvrez mon PortFolio </span>
    <% end %>
    <img src="images/2.jpg" alt="mes realisations" />
  </li>
  <li>
    <a href="liens.html">
      <span>Prochainement</span>
      <span>Mes sources d'inspiration sur le web</span>
    </a>
    <img src="images/multi01.jpg" alt="Mes sources d'inspiration" />
  </li>

</ul>
