<h1>La page About!</h1>
<ul class="mh-menu">
  <li>
    <a href="indexCV.html">
      <span>Mon CV</span>
      <span>Accedez à mon CV sous AngularJS</span>
    </a>
    <img src="images/1.jpg" alt="photo de didier" />
  </li>
  <li>
    <a href="http://larmoireencarton.fr/indx.html">
      <span>Réalisations</span>
      <span>Exemple de page sous AngularJS </span>
    </a>
    <img src="images/2.jpg" alt="une realisation sous angular" />
  </li>
  <li>
    <a href="liens.html">
      <span>Prochainement</span>
      <span>Mes sources d'inspiration sur le web</span>
    </a>
    <img src="images/multi01.jpg" alt="Mes sources d'inspiration" />
  </li>

</ul>
