<% provide(:title, "Accueil") %>
<h1>Page D'accueil</h1>
<p>Site PortFolio de Didier CLIN</p>
<h1 class="title">Developpeur Junior Rails</h1>
<div class="container">
<div class="row">
  <div class="col-md-3 panel col-md-offset-2">
    HTML/CSS
    <img src="/images/htmlCss.png" alt="" />
  </div>
  <div class="col-md-3 panel ">
    JavaScript
    <img src="/images/088.jpg" alt="" />
  </div>
  <div class="col-md-3 panel">Ruby / Ruby On Rails</div>
</div>


< %=  link_to 'Hymn', {controller: 'static_pages', action: 'watch', v: 'YykjpeuMNEk' } %><br>
< %=  link_to 'Ma playlist', {controller: 'static_pages', action: 'watch', v: 'fIyFgygYW7s', list: 'PLCD98DDA3C0E406F7' } %>
<p>la suite</p>

</div>
