<% provide(:title, "Accueil") %>
<h1>Page D'accueil</h1>
<p>Site PortFolio de Didier CLIN</p>
<h1 class="title">Developpeur Junior Rails</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-3 panel thumbnail">
          HTML/CSS
            <img src="/images/htmlCss.png" alt="logo HTML et CSS" />
        </div>
        <div class="col-sm-offset-1 col-sm-3 panel thumbnail">
          JavaScript
            <img src="/images/088.jpg" alt="logo Java script" />
        </div>
          <div class="col-sm-offset-1 col-sm-3 panel thumbnail">Ruby / Ruby On Rails
            <img src="/images/ruby.jpeg" alt="logo Ruby" />
          </div>
    </div>


      < %=  link_to 'Hymn', {controller: 'static_pages', action: 'watch', v: 'YykjpeuMNEk' } %><br>
      < %=  link_to 'Ma playlist', {controller: 'static_pages', action: 'watch', v: 'fIyFgygYW7s', list: 'PLCD98DDA3C0E406F7' } %>
      <p>la suite</p>

</div>
