// Variables used along the site
$font-stack:    Cinzel, sans-serif;
$primary-color: #684020;
$fond-color:    rgba(190, 179, 105, 0.38);
$color-link:    #D5B572;
$color-hover:   #181818;
$color-linkBG:  #322c2c;
$color_green:   #1cff94;

/*============================*/
/*      Small device first    */
/*============================*/
/* universal */

body {
  // padding-top: 0;
  font: 100% $font-stack;
  background-color: #ddd;
}

//==============================
// Navigation from small devices
.sidebar-nav {
  	width: 200px;
  	position: fixed;
  	left: 0;
  	top: 0;
  	height: 100%;
    font-size: 2em;
  	background: #f5f7f9;
  	padding: 1em 0 0 0;
  	border-right: 1px solid #d6dce0;
  	ul {
  		list-style: none;
  		text-align: right;
      // Align links to the right
  		padding-right: 1em;
  		.category {
  			font-weight: 700;
  			font-size: 0.7em;
  			text-transform: uppercase;
  			color: #33acb7;
  		}
  		li {
  			padding: .5em 0;
  			a {
  				color: #9eafba;
  				text-decoration: none;
  				transition: all .4s ease;
  				&:hover {
  					color: #33acb7;
  				}
  			}
  		}
  		.active {
  			a {
  				color: #33acb7;
  			}
  		}
  	}
  	.sign_in {
  		position: absolute;
  		right: 3em;
  		top: 80%;
  		font-size: .8em;
  		color: #9eafba;
  	}
  }

.navbar-brand{
      color: $primary-color ;
      font-weight: bold;
      &:hover{ color: white;}
}
.navbar-toggle {
  color: #fff;
  background-color: $primary-color;
}

//==============================
// Navigation to medium devices
#main {
  float: right;
  max-width: 85%
}

// position of left footer
#bas {
  z-index: 101;
  background-color: #000;
  display: inline;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #D5B572;
  p {
    margin-top: 1%;
    padding-right: 1%;
    float: right;
    font-size: 1.4em;
  }
  // font-awesome social link
  .fa-stack {
    margin:  1% 0;
    font-size: 1.5em;
    &:hover { color: white;}
  }
}


 header .rights p{
     color: #450045;
     font-family: "raleway-regular", arial;
     font-size: 11px;
     letter-spacing: 1px;
     line-height: 16px;
 }

 header .rights a{
     font-family: "raleway-bold", arial;
     font-weight: bold;
     text-decoration: none;
 }

 .jumbotron{
   background-color: rgba(166, 174, 182, 0.6);
   padding-right: 10px;
 }


 .title {
   text-align: center;
   h1 {
     font-family: 'Cinzel', serif;
     margin-bottom: 20px;
     color: white;
   }
 }

 /* title letters for CV page */
 .lateral {
   text-align: center;
   font-family: 'Cinzel', serif;
   font-size: 2em;
   color: green;
   vertical-align: bottom;
   text-shadow:  5px 5px 5px #888;
 }

 .thumbnail {
   height: 320px;
   overflow: hidden;
   background-color: #f0f0f0;
   box-shadow:  5px 5px 5px #888;
 }

 .content {
   margin-left: 8%;
   /*font-family: 'Megrim', cursive;*/
   font-family: 'Oleo Script', cursive;
     position: relative
 }

@media (min-width: 768px) {
  #main{
    overflow: auto;
    width: 100%;
    }
  .icon-bar {
     color: #181818;
     font-family: 'Cinzel', serif;
   }
   .sidebar-nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background: #687072;
        max-width: 15%;
        border-right: 2px solid #d6dce0;
   }
   .sidebar-nav .navbar .navbar-collapse {
     padding: 0;
     max-height: none;
   }
   .sidebar-nav .navbar ul {
     float: none;
     // Separe head from first nav item
     &:first-child { padding-top: 70px;}
   }
   .sidebar-nav .navbar ul:not {
     display: block;
   }
   .sidebar-nav .navbar li {
     float: none;
     display: block;
      font-weight: 700;
      font-size: 1em;
   }
   .sidebar-nav .navbar li a {
     padding-top: 12px;
     padding-bottom: 12px;
     color: #D5B572;
     &:hover {
       color: #322c2c;
     }
   }
   .fa-stack {
      margin:  20px 2px;
      font-size: 0.8em;
    }
}
/*=======================================
   About page
   ====================================*/
.mh-menu{
	height: 385px;
	width: 500px;
	margin: 20px auto;
	position: relative;
  li{
        list-style: none;
        width: 370px;
        a {
          display: block;
          width: 280px;
          padding: 0px 5px;
          text-align: right;
          position: relative;
          z-index: 10;
          height: 97px;
          color: #111;
          border-right: 1px solid $color-link;
          background: rgba(255,255,255, 0.8);
          span{
          	display:block;
          }
          span:first-child{
          	font-weight: 700;
          	font-size: 16px;
          	color: $color-link;
          	padding-top: 10px;
          	font-family: 'Alegreya SC', Georgia, serif;
          }
          span:nth-child(2){
          	font-weight: 400;
          	font-style: italic;
          	font-size: 24px;
          	font-family: 'Alegreya SC', Georgia, serif;
          	-webkit-transition: color 0.2s linear;
          	-moz-transition: color 0.2s linear;
          	-o-transition: color 0.2s linear;
          	-ms-transition: color 0.2s linear;
          	transition: color 0.2s linear;
          }

        }
        &:hover  a{
        	background: rgba(225,239,240, 0.4);
        }
        img{
        	position: absolute;
        	z-index: 1;
        	left: 0px;
        	top: 0px;
        	opacity: 0;
        	-webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
        	-moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
        	-o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
        	-ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
        	transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
        }
        &:hover img{
                	left: 320px;
                	opacity: 1;
                }
  }
  li:nth-child(1):hover span:nth-child(2){
  	color: #ae3637;
  }
  li:nth-child(2):hover span:nth-child(2){
  	color: #c3d243;
  }
  li:nth-child(3):hover span:nth-child(2){
  	color: #d38439;
  }
  li:nth-child(4):hover span:nth-child(2){
  	color: #8e7463;
  }
}
