@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body {
  padding-top: 0;
  background-image: url(/images/fond-eiffel.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  padding-top: 30px;
}

.title {
  text-align: center;
  h1 {
    font-family: 'Cinzel', serif;
    margin-bottom: 20px;
    color: white;
  }
}

/* side bar */
.lateral {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  color: green;
  vertical-align: bottom;
}


.thumbnail {
  height: 250px;
  overflow: hidden;
}

.content {
  margin-left: 8%;
  /*font-family: 'Megrim', cursive;*/
  font-family: 'Oleo Script', cursive;
    position: relative
}
.boutBas {
  position: absolute;
  bottom: 0;
}

// footer
header .rights p{
    color: #454545;
    font-family: "raleway-regular", arial;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 16px;
}

header .rights a{
    font-family: "raleway-bold", arial;
    font-weight: bold;
    text-decoration: none;
}
.jumbotron{
  background-color: rgba(128, 167, 204, 0.6);
  padding-right: 10px;
}
