@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Cinzel:700);
@import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body {
  padding-top: 0;
  background-image: url(/images/fond-eiffel.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  padding-top: 30px;
}
.glyphicon-link {
    font-size: 1.2em;
}
.title {
  text-align: center;
  h1 {
    margin-bottom: 20px;
    color: white;
  }
}

/* side bar */
.lateral {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  color: green;
  vertical-align: bottom;
}
