<div class="footer clearfix">
  <ul class="social clearfix">
    <li><a href="https://twitter.com/dn5963" class="fb" data-title="twitter">Twitter</a></li>
    <li><a href="https://github.com/didierclin" class="Github" data-title="Github +">Github</a></li>
  </ul><!-- end social -->

  <div class="rights">
    <p>Copyright © 2016.</p>
    <p>Made by <a href="">didierclin.fr</a></p>
  </div><!-- end rights -->
</div >
