<footer class="footer clearfix">
  <div id="bas" class="row">

      <div class="col-xs-offset-1 col-xs-11  col-sm-5 ">
          <div class="share-results">
             <a class="fa-stack fa-1x" data-toggle="tooltip" title="Email" data-placement="top" href="#">
                 <i class="fa fa-envelope-square fa-stack-2x"></i>
             </a>
             <a class="fa-stack fa-1x" data-toggle="tooltip" title="Facebook" data-placement="top" href="https://www.facebook.com/profile.php?id=100011402821660">
                 <i class="fa fa-facebook-square fa-stack-2x"></i>
             </a>
             <a class="fa-stack fa-1x" data-toggle="tooltip" title="Twitter" data-placement="top" href="https://twitter.com/dn5963">
                 <i class="fa fa-twitter-square fa-stack-2x"></i>
                 <!-- <i class="fa fa-twitter fa-stack-1x"></i> -->
             </a>
             <a class="fa-stack fa-1x" data-toggle="tooltip" title="Share by Link" data-placement="top" href="https://github.com/didierclin">
                 <i class="fa fa-github-square fa-stack-2x"></i>

             </a>
         </div>
         </div>
         <div class="col-xs-offset-3 col-xs-9 col-sm-offset-0 col-sm-6 pull-right">

            <p class="clearfix">Copyright © 2016. Made by <a href="">didierclin.fr</a></p>
          </div>
      </div><!-- end rights -->
  </div>
</footer >
