<ul class="nav nav-pills nav-stacked">
  <li> <%= link_to 'Accueil', root_path %></li>
  <li> <%= link_to 'Projets', projects_path %></li>
  <li> <%= link_to 'Admin', admin_projects_path %></li>
</ul>
